{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

<div class="row">


  <!-- Highcharts JavaScript -->
  <script src="/static/js/code/highcharts.src.js"></script>

{% include "./top10passwords.html" %}

{% include "./top10users.html" %}

{% include "./top10combos.html" %}

</div>

<div class="row">
    {% include "./top10clients.html" %}
    {% include "./top10inputs.html" %}

</div>

{% endblock %}