{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    </div>

<div class="row">


  <!-- Highcharts JavaScript -->
  <script src="/static/js/code/highcharts.src.js"></script>

{% include "./top_passwords.html" %}

{% include "./top_users.html" %}

{% include "./top_combos.html" %}

</div>

<div class="row">
    {% include "./top_clients.html" %}
    {% include "./top_inputs.html" %}

</div>

<div class="row">
  {% include "./top_countries.html" %}
  {% include "./top_ips.html" %}

</div>

<div class="row">
  {% include "./daily_activity.html" %}
  {% include "./weekly_activity.html" %}

</div>

{% endblock %}