<div class="col-xl-4 col-lg-5">
<div class="container-fluid">

    <!-- Page Heading -->
    
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Top 10 users</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="container_users"></div>
          <script>
            Highcharts.chart('container_users', {
                chart: {
                  type: 'column'
                },
                title: {
                  text: 'Top 10 usernames'
                },
                xAxis: {
                  categories: [
                    {% for entry in users %}'{{ entry.0 }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                  name: 'Count',
                  dataLabels: {
                    enabled: true,
                    crop: false,
                    overflow: 'none'
                  },
                  data: [
                    {% for entry in users %}{{ entry.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}
                  ]
                }]
                
          });
          </script>
          
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>