{% extends 'base.html' %}

{% block main %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Top 50s Dashboard</h1>
    </div>

<div class="row">


  <!-- Highcharts JavaScript -->
  <script src="/static/js/code/highcharts.src.js"></script>

  <div class="col-xl-12 col-lg-5">
    <div class="container-fluid">
      {% include "./top_passwords.html" %}
    </div>
  </div>

  <div class="col-xl-12 col-lg-5">
    <div class="container-fluid">
      {% include "./top_users.html" %}
    </div>
  </div>

  <div class="col-xl-12 col-lg-5">
    <div class="container-fluid">
      {% include "./top_combos.html" %}
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="container-fluid">
      {% include "./top_clients.html" %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 mb-4">
    <div class="container-fluid">
      {% include "./top_countries.html" %}
    </div>
  </div>
  <div class="col-lg-12 mb-4">
    <div class="container-fluid">
      {% include "./top_ips.html" %}
    </div>  
  </div>

</div>

{% endblock %}