<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Top {{countries | length}} Countries</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
        <div id="container_countries"></div>
        <script>
          Highcharts.chart('container_countries', {
              chart: {
                type: 'column'
              },
              caption:{
                text: 'Shows top {{countries | length}} countries with respect to number of sessions initiated from'
              },
              title: {
                text: 'Top {{countries | length}} countries'
              },
              xAxis: {
                categories: [
                  {% for entry in countries %}'{{ entry.0 }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                  ]
              },
              series: [{
                name: 'Count',
                dataLabels: {
                  enabled: true,
                  crop: false,
                  overflow: 'none'
                },
                data: [
                  {% for entry in countries %}{{ entry.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ]
              }]
              
        });
        </script>
    </div>
  </div>
</div>
