<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Top {{combos | length}} user/password combinations</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="container_combos"></div>
      <script>
        Highcharts.chart('container_combos', {
            chart: {
              type: 'column'
            },
            caption: {
              text: 'Shows top {{combos | length}} username and password combinations used to bruteforce entry'
            },
            title: {
              text: 'Top {{combos | length}} user/pass combinations'
            },
            xAxis: {
              categories: [
                {% for entry in combos %}'{{ entry.0 }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                ]
            },
            series: [{
              name: 'Count',
              dataLabels: {
                enabled: true,
                crop: false,
                overflow: 'none'
              },
              data: [
                {% for entry in combos %}{{ entry.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}
              ]
            }]
            
      });
      </script>
    </div>
  </div>
</div>
