<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Top {{passwords | length}} passwords</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
        <div id="container_passwords"></div>
        <script>
          Highcharts.chart('container_passwords', {
              chart: {
                type: 'column'
              },
              caption: {
                text: 'Shows top {{passwords | length}} passwords used for bruteforcing entry'
                },
              title: {
                text: 'Top {{passwords | length}} passwords'
              },
              xAxis: {
                categories: [
                  {% for entry in passwords %}'{{ entry.0 }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                  ]
              },
              series: [{
                name: 'Count',
                dataLabels: {
                  enabled: true,
                  crop: false,
                  overflow: 'none'
                },
                data: [
                  {% for entry in passwords %}{{ entry.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ]
              }]
              
        });
        </script>
    </div>
  </div>
</div>

