<div class="col-lg-6 mb-4">
<div class="container-fluid">

    <!-- Page Heading -->
    
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Top 10 inputs</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="container_inputs"></div>
          <script>
            Highcharts.chart('container_inputs', {
                chart: {
                  type: 'column'
                },
                caption: {
                  text: 'Shows top 10 commands entered in the honeypot'
                },
                title: {
                  text: 'Top 10 inputs'
                },
                xAxis: {
                  categories: [
                    {% for entry in inputs %}'{{ entry.0 }}'{% if not forloop.last %}, {% endif %}{% endfor %}
                    ]
                },
                series: [{
                  name: 'Count',
                  dataLabels: {
                    enabled: true,
                    crop: false,
                    overflow: 'none'
                  },
                  data: [
                    {% for entry in inputs %}{{ entry.1 }}{% if not forloop.last %}, {% endif %}{% endfor %}
                  ]
                }]
                
          });
          </script>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->
</div>